*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Abyssinica SIL', serif;
}
/* Home section */
.home_section{
    width: 100%;
    height: 100vh;
    background: linear-gradient(90deg,black 70%,#ff9900 30%);
}
/* navbar */
#navbar{
    background: linear-gradient(90deg,black 70%,#ff9900 30%);
}
#logo{
    margin-left: 30px;
    font-size: 30px;
    font-weight: bold;
    color: #ff9900;
    letter-spacing: 2px;
}
.navbar-nav{
    margin-left: 50px;
    margin-top: 6px;
}
.nav-item .nav-link{
    margin-left: 10px;
    font-weight: bold;
    color: white;
    font-size: 16px;
    text-shadow: 1px 1px 1px black;
    letter-spacing: 2px;
    transition: 0.5s ease;
}
.nav-item .nav-link:hover{
    color: #ff9900;
}
#btncv{
    background: transparent;
    border: 2px solid black;
    font-weight: bold;
    letter-spacing: 2px;
    border-radius: 5px;
    cursor: pointer;
}
#btncv:hover{
    color: white;
    cursor: pointer;
    border: 2px solid white;
    background-color: transparent;

}
@media screen and (max-width:991px) {
    #btncv{
        border: 2px solid #ff9900;
        color: #ff9900;
        margin-left: 30px;
    }
    
}

/* Home contant */
.home{
    height: 91.5vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
    z-index: 0;
}
.home .img{
    flex: 1 1 580px;
}
.home .img img{
    width: 76%;
    margin-left: 60px;
}
.home .content{
    flex: 1 1 400px;
    margin-left: 45px;
}
.home .content h5{
    color: white;
    letter-spacing: 3px;
    font-size: 16px;
    font-weight: bold;

}
.home .content h3 span{
    color: #ff9900;
    font-weight: bold;
}
.changecontent::after{
    content: '';
    color: #ff9900;
    font-weight: bold;
    font-size: 40px;
    animation: changetext 30s infinite linear;
}
@keyframes changetext {
    0%{content: "Web Designer";}
    10%{content: "Web Developer";}
    20%{content: "Beginner";}
}
.home .content p{
    color: white;
    font-weight: bold;
    letter-spacing: 2px;
}
#btn1{
    width: 150px;
    height: 30px;
    letter-spacing: 3px;
    border-radius: 5px;
    color: #ff9900;
    border: 2px solid #ff9900;
    margin-top: 20px;
    font-weight: bold;
    transition: 0.5s ease;
    cursor: pointer;
}
#btn1:hover{
    background-color: transparent;
    color: white;
    cursor: pointer;
    border: 2px solid white;
}

.about{
    width: 100%;
    padding: 50px 0px;
    background-color: #191919;
}

.about img{
    height: auto;
    width: 600px;
}

.about-text{
    width: 650px;
}

.main{
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.about-text h2{
    color: white;
    font-size: 75px;
    text-transform: capitalize;
    margin-bottom: 20px;
    margin-left: 90px;
}

.about-text h5{
    color: white;
    letter-spacing: 2px;
    font-size: 22px;
    margin-bottom: 25px;
    text-transform: capitalize;
    margin-left: 120px;
}

.about-text p{
    color: #fcfc;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 45px;
    margin-left: 40px;

}

button{
    background-color: #f9004d;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
    transition: .4s;
    margin-left: 40px;
}

button:hover{
    background-color: transparent;
    border: 2px solid #f9004d;
    cursor: pointer;
}

.service{
    background: #101010;
    width: 100%;
    padding: 10px 0px;
}

.title h2{
    color: white;
    font-size: 75px;
    width: 1130px;
    margin: 30px auto;
    text-align: center;
}

.box{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 400px;
}

.card{
    height: 365px;
    width: 335px;
    padding: 20px 35px;
    background: #191919;
    border-radius: 20px;
    margin: 15px;
    position: relative;
    overflow: hidden;
    text-align: center;
}

.card i{
    font-size: 50px;
    display: block;
    text-align: center;
    margin: 25px 0px;
    color: #f9004d;
}

h5{
    color: white;
    font-size: 23px;
    margin-bottom: 15px;
}

.pra p{
    color: #fcfc;
    font-size: 16px;
    line-height: 27px;
    margin-bottom: 25px;
}

.card .button{
    background-color: #f9004d;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 9px 22px;
    border-radius: 30px;
    transition: .4s;
}

.card .button:hover{
    background-color: transparent;
    border: 2px solid #f9004d;
    cursor: pointer;
}

.contact-me{
    width: 100%;
    height: 290px;
    background: #191919;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.contact-me p{
    color: white;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 25px;
}

.contact-me .button-two{
    background-color: #f9004d;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 9px 22px;
    border-radius: 30px;
    transition: .4s;
}

.contact-me .button-two:hover{
    background-color: transparent;
    border: 2px solid #f9004d;
    cursor: pointer;
}

footer{
    position: relative;
    width: 100%;
    height: 400px;
    background: #101010;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer p:nth-child(1){
    font-size: 30px;
    color: white;
    margin-bottom: 20px;
    font-weight: bold;
}

footer p:nth-child(2){
    color: white;
    font-size: 17px;
    width: 500px;
    text-align: center;
    line-height: 26px;
}

.social{
    display: flex;
}

.social a{
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f9004d;
    border-radius: 50%;
    margin: 22px 10px;
    color: white;
    text-decoration: none;
    font-size: 20px;
}

.social a:hover{
    transform: scale(1.3);
    transition: .3s;
}

.end{
    position: absolute;
    bottom: 35px;
    color: #f9004d;
    font-size: 14px;
}